<div class="my-bg-primary" style="min-height: 100vh;">
  <!--begin::Authentication - Sign-in -->
  <div class="d-flex flex-column justify-content-center" style="height: 100vh;">
    <!--begin::Content-->
    <div class="d-flex w-100 flex-center flex-column justify-content-center flex-column-fluid p-10 pb-lg-20">
      <!--begin::Logo-->
      
      <div class="mb-5 text-center w-100 text-light fs-1 fw-bold inter" style="width:200px">
        <img class="d-block m-auto mb-3" style="height: 100px;" src="../../../assets/logo-rational.png" alt="">
        IMMERSIVE COOKING
      </div>


      <!--end::Logo-->
      <!--begin::Wrapper  <div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">-->

        <!--begin::Form-->
        <app-login class="w-100"></app-login>
        <!--end::Form-->

      <!--end::Wrapper    </div>-->
    </div>
    <!--end::Content-->
    <!--begin::Footer-->
    <div class="d-flex flex-center flex-column p-10">
      <!--begin::Links-->
      <div class="fw-bold fs-6 w-100 text-center mt-5 text-light">
        Immersive cooking - &copy; 2024 Carraro Lab
      </div>
      <!--
      <a [href]="'#'" target="_blank">
        <div class="client-logo h-35px max-h-35px my-3" style="width:200px"></div>
      </a>
      -->
      <!--end::Links-->
    </div>
    <!--end::Footer-->
  </div>
  <!--end::Authentication - Sign-in-->
</div>
