<div class="container-fluid py-5">
    <div class="d-flex mb-3 justify-content-between">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-primary">
                <li class="breadcrumb-item text-primary" style="cursor: pointer;" aria-current="page" (click)="routeTo('dashboard/home')">Dashboard</li>
                <li class="breadcrumb-item breadcrumb-active" style="cursor: pointer;" aria-current="page">Cottura</li>
            </ol>
        </nav>
        <h4>{{user.username}}</h4>
    </div>
    <div *ngIf="selectedExecution" class="row shadow p-4 rounded" style="max-height: 75vh; overflow: auto;">
        <div *ngIf="selectedExecution.recipe" class="col-12 d-flex flex-column justify-content-between h-100 border mb-3 rounded py-3">
            <div class="d-flex flex-column w-100">
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <div class="d-flex align-items-baseline gap-3">
                        <h1 class="fs-1 mb-0 d-inline">{{selectedExecution.recipe.name}}</h1>
                        <div class="fst-italic fs-5">
                            <span *ngIf="selectedExecution.portion_unit == 'person'"><i class="fa-solid fa-user me-2"></i>x {{selectedExecution.portion_number}} persone</span>
                            <span *ngIf="selectedExecution.portion_unit == 'gram'"><i class="fa-solid fa-weight-hanging me-2"></i>x {{selectedExecution.portion_number}} grammi</span>
                            <span *ngIf="selectedExecution.portion_unit == 'bakingTray'"><i class="fa-solid fa-layer-group me-2"></i>x {{selectedExecution.portion_number}} teglie</span>
                        </div>
                    </div>
                    <div class="d-flex gap-3 align-items-center">
                        <button *ngIf="!showResults" class="btn btn-lg btn-primary" (click)="showResults = true"><i class="fa-solid fa-plus me-3"></i>Genera report</button>
                        <button *ngIf="showResults" class="btn btn-lg btn-success" (click)="openPDF()"><i class="fa-solid fa-download me-3"></i>Scarica report</button>
                    </div>
                </div>
            </div>

            <div class="rounded px-3 d-flex flex-column justify-content-between flex-grow-1" style="background-color: white;">
                <div class="row d-flex mt-2 px-0">
                    <div class="w-50 px-0">
                        <h5>Data Cottura</h5>
                        <p>{{selectedExecution.creation_date | date : 'short'}}</p>
                    </div>
                    <div class="w-50">
                        <h5>Porzioni</h5>
                        <p *ngIf="selectedExecution.portion_unit == 'person'"><i class="fa-solid fa-user me-2"></i>x {{selectedExecution.portion_number}} persone</p>
                        <p *ngIf="selectedExecution.portion_unit == 'gram'"><i class="fa-solid fa-weight-hanging me-2"></i>x {{selectedExecution.portion_number}} grammi</p>
                        <p *ngIf="selectedExecution.portion_unit == 'bakingTray'"><i class="fa-solid fa-layer-group me-2"></i>x {{selectedExecution.portion_number}} teglie</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <h5>Note</h5>
                        <p>{{selectedExecution.note}}</p>
                    </div>
                </div>
        </div>
        <div class="rounded border py-3">
            <app-results [selectedExecutionId]="selectedExecutionId"></app-results>
        </div>
    </div>
</div>

<div id="results" *ngIf="showResults">
    <div class="container-fluid py-5">
        <div *ngIf="selectedExecution" class="row shadow p-4 rounded">
            <div *ngIf="selectedExecution.recipe" class="col-12 d-flex flex-column justify-content-between h-100 border mb-3 rounded py-3">
                <div class="d-flex flex-column w-100 mb-3">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <div class="d-flex align-items-baseline gap-3">
                            <h1 class="fs-1 mb-0 d-inline">{{selectedExecution.recipe.name}}</h1>
                            <div class="fst-italic fs-5">
                                <span *ngIf="selectedExecution.portion_unit == 'person'"><i class="fa-solid fa-user me-2"></i>x {{selectedExecution.portion_number}} persone</span>
                                <span *ngIf="selectedExecution.portion_unit == 'gram'"><i class="fa-solid fa-weight-hanging me-2"></i>x {{selectedExecution.portion_number}} grammi</span>
                                <span *ngIf="selectedExecution.portion_unit == 'bakingTray'"><i class="fa-solid fa-layer-group me-2"></i>x {{selectedExecution.portion_number}} teglie</span>
                            </div>
                        </div>
                        <div class="fs-3">
                            <span class="me-1"><i class="fa-brands fa-envira" [style.color]="selectedExecution.color"></i></span>
                            <span class="fw-bold" [style.color]="selectedExecution.color">{{selectedExecution.recipe.footprint_score | number : '1.0-1'}}</span>
                            <span class="fw-bold"> / 10</span>
                        </div>
                    </div>
                </div>

                <div class="rounded px-3 d-flex flex-column justify-content-between flex-grow-1" style="background-color: white;">
                    <div class="row">
                        <div class="col-12 ps-0">
                            <h5>Ingredienti</h5>
                            <ul class="list-group border-0">
                                <li *ngFor="let ingredient of selectedExecution.recipe.ingredients; index as i" class="list-group-item d-flex align-items-center">
                                  <span class="me-3">{{ingredient.name}}</span>
                                  <span>{{selectedRecipe.recipeIngredients[i].weight}} gr.</span>
                                </li>
                            </ul>
                        </div>
<!--                         <div class="col-6">
                            <div class="d-flex justify-content-center w-100">
                                <div class="position-relative overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded h-300px
                                d-flex justify-content-center align-content-center overflow-hidden" style="width: 300px;" [style.background-image]="'url('+selectedExecution.recipe.s3filename+')'">
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="row d-flex mt-2 px-0">
                        <div class="w-50 px-0">
                            <h5>Data Cottura</h5>
                            <p>{{selectedExecution.creation_date | date : 'short'}}</p>
                        </div>
                        <div class="w-50">
                            <h5>Porzioni</h5>
                            <p *ngIf="selectedExecution.portion_unit == 'person'"><i class="fa-solid fa-user me-2"></i>x {{selectedExecution.portion_number}} persone</p>
                            <p *ngIf="selectedExecution.portion_unit == 'gram'"><i class="fa-solid fa-weight-hanging me-2"></i>x {{selectedExecution.portion_number}} grammi</p>
                            <p *ngIf="selectedExecution.portion_unit == 'bakingTray'"><i class="fa-solid fa-layer-group me-2"></i>x {{selectedExecution.portion_number}} teglie</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 px-0">
                            <h5>Note</h5>
                            <p>{{selectedExecution.note}}</p>
                        </div>
                    </div>
<!--                     <div class="row mt-5">
                        <div class="col-12 ps-0">
                            <h5>Descrizione ricetta</h5>
                            <p>{{selectedExecution.description}}</p>
                        </div>
                    </div> -->
<!--                     <div class="row px-0 mt-3">
                        <h3 class="ps-0">Dati nutrizionali della ricetta</h3>
                        <div class="my-3 d-flex justify-content-between gap-2 px-0">
                            <div class="card text-bg-light mb-3" style="width: calc(100% / 3); height: 150px;">
                                <div class="card-header">Calorie</div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <h3 class="card-title">{{ getTotalKcal() | number: "1.0-3"}} Kcal</h3>
                                </div>
                            </div>
                            <div class="card text-bg-light mb-3" style="width: calc(100% / 3); height: 150px;">
                                <div class="card-header">Proteine</div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <h3 class="card-title">{{ getTotalValue('proteins') | number: "1.0-3"}} gr</h3>
                                </div>
                            </div>
                            <div class="card text-bg-light mb-3" style="width: calc(100% / 3); height: 150px;">
                                <div class="card-header">Carboidrati</div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <h3 class="card-title">{{ getTotalValue('carbohydrates') | number: "1.0-3"}} gr</h3>
                                </div>
                            </div>
                            <div class="card text-bg-light mb-3" style="width: calc(100% / 3); height: 150px;">
                                <div class="card-header">Grassi</div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <h3 class="card-title">{{ getTotalValue('fats') | number: "1.0-3"}} gr</h3>
                                </div>
                            </div>
                            <div class="card text-bg-light mb-3" style="width: calc(100% / 3); height: 150px;">
                                <div class="card-header">Zuccheri</div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <h3 class="card-title">{{ getTotalValue('sugars') | number: "1.0-3"}} gr</h3>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row px-0">
                        <h3 class="ps-0">Footprint della ricetta</h3>
                        <div class="my-3 d-flex justify-content-between gap-2 px-0">
                            <div class="card text-bg-light mb-3" style="width: calc(100% / 3); height: 150px;">
                                <div class="card-header">Consumo di acqua</div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <h3 class="card-title">{{totalWF / 100 | number: "1.0-3"}} litri</h3>
                                </div>
                            </div>
                            <div class="card text-bg-light mb-3" style="width: calc(100% / 3); height: 150px;">
                                <div class="card-header">Consumo di suolo</div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <h3 class="card-title">{{totalEF / 10 | number: "1.0-3"}} mq</h3>
                                </div>
                            </div>
                            <div class="card text-bg-light mb-3" style="width: calc(100% / 3); height: 150px;">
                                <div class="card-header">Emissioni di CO2</div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <h3 class="card-title">{{totalCF / 10 | number: "1.0-3"}} kg</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row px-0">
                        <h3 class="ps-0">Footprint della cottura</h3>
                        <div class="col-12 px-0">
                            <p class="px-0">Per produrre un kWh elettrico vengono bruciati mediamente l'equivalente di 2,56 kWh sotto forma di combustibili fossili e di conseguenza emessi nell'aria circa 0,65 kg di anidride carbonica</p>
                        </div>
                        <div class="my-3 d-flex justify-content-between gap-2 px-0">
                            <div class="card text-bg-light mb-3" style="width: calc(100% / 3); height: 150px;">
                                <div class="card-header">Consumo totale in Kw</div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <h3 class="card-title">{{selectedExecution.kwh}} Kw</h3>
                                </div>
                            </div>
                            <div class="card text-bg-light mb-3" style="width: calc(100% / 3); height: 150px;">
                                <div class="card-header">CO2 x Kw (media italiana)</div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <h3 class="card-title">0,65 kg/kw</h3>
                                </div>
                            </div>
                            <div class="card text-bg-light mb-3" style="width: calc(100% / 3); height: 150px;">
                                <div class="card-header">Emissioni CO2 cottura</div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <h3 class="card-title">{{selectedExecution.kwh * 0.65 | number: '1.2-2'}} kg Co2</h3>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                     <div class="d-flex flex-column">
                        <h3 class="ps-0">Footprint della cottura</h3>
                        <div class="d-flex w-100 justify-content-end">
                            <div class="row px-0">
                                <div class="col-12">
                                    <p >Per produrre un kWh elettrico vengono bruciati mediamente l'equivalente di 2,56 kWh sotto forma di combustibili fossili e di conseguenza emessi nell'aria circa 0,65 kg di anidride carbonica</p>
                                </div>
                                <div class="my-3 d-flex justify-content-between gap-2 px-0">
                                    <div class="card text-bg-light mb-3" style="width: calc(100% / 3); height: 150px;">
                                        <div class="card-header">Consumo totale in Kw</div>
                                        <div class="card-body d-flex justify-content-center align-items-center">
                                            <h3 class="card-title">{{selectedExecution.kwh}} Kw</h3>
                                        </div>
                                    </div>
                                    <div class="card text-bg-light mb-3" style="width: calc(100% / 3); height: 150px;">
                                        <div class="card-header">CO2 x Kw (media italiana)</div>
                                        <div class="card-body d-flex justify-content-center align-items-center">
                                            <h3 class="card-title">0,65 kg/kw</h3>
                                        </div>
                                    </div>
                                    <div class="card text-bg-light mb-3" style="width: calc(100% / 3); height: 150px;">
                                        <div class="card-header">Emissioni CO2 cottura</div>
                                        <div class="card-body d-flex justify-content-center align-items-center">
                                            <h3 class="card-title">{{selectedExecution.kwh * 0.65 | number: '1.2-2'}} kg Co2</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
<!--             <div class="rounded border py-3">
                <app-results [selectedExecutionId]="selectedExecutionId" (totalKwUsed) = "onTotalKwEventEmitted($event)" (executionDetail) = "onExecutionDetailEventEmitted($event)"></app-results>
            </div> -->
        </div>
    </div>
</div>
