@import "../../styles.scss";

.recipe-img {
    width: 100px;
}

th, td {
    vertical-align: middle;
    text-align: center;
}

.note, .title {
    max-width: 18rem;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}